.hiddenMenu {
  min-height: 100vh;
  display: flex;
  justify-content: left;
  z-index: 20;
  @media (min-width: $sreen-superLarge) {
    background-color: transparent;
    position: static;
    display: block;
  }
  &__wrapper {
    min-height: 700px;
    min-width: 320px;
    max-width: 440px;
    overflow-y: auto;
    background-color: $color-white__background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -5px 5px 30px -15px black;
    @media (min-width: $sreen-superLarge) {
      box-shadow: none;
    }
  }
  &__top {
    display: block;
  }
  &__menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  &__leftSide {
    display: flex;
  }

  &__item {
    &--burger {
      margin: 24px 16px 23px 16px;
      @media (min-width: $sreen-superLarge) {
        display: none;
      }
    }
    &--logo {
      margin-top: 16px;
      @media (min-width: $sreen-superLarge) {
        margin-left: 22px;
      }
    }
    &--search {
      margin: 24px 16px 23px auto;
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__navList {
    list-style: none;
  }

  &__navItem {
    :hover {
      cursor: pointer;
      opacity: 0.7;
      transform: scale(0.95);
      transition-duration: 0.3s;
      background-color: #ffffff;
      border-radius: 6px;
    }
    :focus {
      cursor: pointer;
      opacity: 0.7;
      transform: scale(0.95);
      transition-duration: 0.3s;
      background-color: #ffffff;
      border-radius: 6px;
    }
    :hover::before {
      content: url('/img/highlight.svg');
      /*картинки не работали из-за неправильного пути, однако тут когда я указываю правильный для гита путь
      ломается все и я не могу на гитхаб сохранить проект, поэтому я сделал бордер лефт на всякий случай еще*/
      border-left: 4px solid $color-mint__background;
      border-radius: -10px;
      position: absolute;
      left: -5px;
      top: 5px;
    }
  }

  &__navLink {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 16px 16px;
  }

  &__list {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  &__footerBtn {
    margin-left: 16px;
  }
}

.visuallyHiddenMenu {
  display: none;
  @media (min-width: $sreen-superLarge) {
    display: block;
  }
}
