.lang {
  margin-left: 24px;
  margin-bottom: 32px;
  &__btn {
    border: none;
    background-color: transparent;
    margin-right: 7px;
    display: inline-block;
    width: 24px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-weight: $font-weight-500;
    &:hover {
      transform: scale(1.1);
      opacity: 0.6;
    }
    &:focus {
      transform: scale(1.1);
      opacity: 0.6;
    }
  }
}
