.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.801);
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: right;
  overflow-Y: auto;
  &__wrapper {
    min-height: 100%;
    min-width: 320px;
    max-width: 440px;
    background-color: $color-white__background;
  }
}
