.title {
  min-height: 80px;
  font-weight: $font-weight-400;
  border-top: 1px solid $color-mint__outline;
  background-color: $color-white__text;
  @media (min-width: $screen-medium) {
    max-height: 56px;
  }
  &__caption {
    display: block;
    padding: 16px;
    font-size: $font-size-16;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-dark-gray__text;
  }
}
