$font-family__main: 'TT Lakes', sans-serif;

$screen-small: 320px;
$screen-medium: 768px;
$screen-large: 1120px;
$sreen-superLarge: 1440px;

$color-black__text: #1b1c21;
$color-white__text: #ffffff;
$color-dark-gray__text: #7e7e82;
$color-pink__text: #ff3e79;
$color-asphalt__text: #b5b6bc;
$color-white__background: #ffffff;
$color-mint__background: #41f6d7;
$color-gray__background: #f8f8f8;
$color-lightest-gray__background: #eaeaea;
$color-light-gray__background: #dddddd;
$color-pink__background: #ff3e79;
$color-asphalt__background: #b5b6bc;
$color-mint__border: #d9fff5;
$color-lightest-gray__border: #eaeaea;
$color-mint__outline: #b8ffec;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-24: 24px;
$font-size-28: 28px;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
